body{
    line-height: 1.42857143;
    color: #626262;
    font-family:hubl_var("{{$font_family}}",$font_family);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    margin: 20px 0px;
}
p{
    margin: 20px 0px;
}
label{
    span{
        background-color: transparent;
    }
}

.hs_cos_flex-direction-nav{ 
    a{
        background-image: url(http://cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/bg_direction_nav.png);
    }
}
.row-fluid [class*="span"]{
    min-height:0px;
}

.container{
    max-width:1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*,*:before,*:after{
    box-sizing:border-box;
}

body,a,h1,h2,h3,h4,h5,p,span,div,ul,li,input,span,textarea{
	margin:0px;
	padding:0px;
	outline: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
 margin: 20px 0px;   
}

textarea{
    padding: 8px;
}
.widget-type-rich_text a{
    color: #ffc400;
    :hover{
        text-decoration: underline;
    }
}

    .widget-type-form{
        .form-title{
            font-size: 33px;
            font-weight: bold;
            text-align: left;
            margin: 65px 0 25px 0;
            color: #ffc400;
        }
        form .hs-form-required{
            display:none;
            form input{
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 18px;
                font-weight: 300;
                border: solid 1px #d6d5d5;
                margin-top: 8px;
                color: initial;
                font-family: hubl_var("{{$font_family}}",$font_family),sans-serif;
            }
        }
        .hs-form-field {
            margin-bottom: 15px;
        }
        form input.hs-button{
            background-color: #ffc400;
            border-bottom:0;
            padding: 7px 40px;
            text-transform: uppercase;
            border-radius: 3px;
            cursor:pointer;
            color:#fff;
            -webkit-appearance: none;
        }
        form select {
                background-color: #4a4949;
            border: 0;
            outline: 0;
            font-size: 16px;
            font-weight: 300;
            border-bottom: solid 1px #fff;
            color: #fff;
            margin-top: 19px !important;
            font-family: hubl_var("{{$font_family}}",$font_family),sans-serif;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin-top: 0px;
            border-radius: 0;
            background-image: url('http://cdn2.hubspot.net/hubfs/309194/Assets_MS/angle-down.png');
            background-repeat: no-repeat;
            background-position-x: 98%;
            background-position-y: 64%;
        }
    form input.hs-button:hover{
        background-color: #fff;
        color:#ffc400;
        -webkit-appearance: none;
    }
    form textarea{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 300;
        border: solid 1px #d6d5d5;
        color: initial;
        margin-top:8px;
        font-family: hubl_var("{{$font_family}}",$font_family),sans-serif;
        min-height:130px;
    }
    form ul li{
        list-style-type: none;
        color: red;
    }
        form ul li.hs-form-checkbox{
            color: #626262;
        }
        form ul li.hs-form-booleancheckbox{
            color: #626262;
        }
    h3{
        font-size: 33px;
        font-weight: bold;
        text-align: left;
        margin: 65px 0 25px 0;
        color: #ffc400;
    }
    form .hs-form-required{
        display:none;
    }
    form input{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top:38px;
        font-family: hubl_var("{{$font_family}}",$font_family),sans-serif;
    }
    form input[type="submit"]{
        border-bottom: none;   
        font-size:18px;
    }
    form input.hs-button{
        background-color: #ffc400;
        padding: 7px 40px;
        text-transform: uppercase;
        border-radius: 3px;
        cursor:pointer;
        color:#fff;
        line-height: 30px;
        -webkit-appearance: none;
    }
    form input.hs-button:hover{
        background-color: #fff;
        color:#ffc400;
        -webkit-appearance: none;
    }
    form textarea{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top:38px;
        font-family: hubl_var("{{$font_family}}",$font_family),sans-serif;
        min-height:130px;
    }
    
    form ul li{
        list-style-type: none;
        color: red;
    }

    }
.footer-info .widget-type-form{
     form{
        margin-top: 30px;
    }
    .form-title{
        display:none;
    }
    form input{
        margin-top: 19px;
    }
    form div:first-of-type div:first-of-type div:first-of-type input:first-of-type{
        margin-top:35px;
    }
::-webkit-input-placeholder {
   color: #fff;
    font-family:  hubl_var("{{$font_family}}",$font_family),sans-serif;
}

::-moz-placeholder { /* Firefox 18- */
   color: #fff;  
   font-family:  hubl_var("{{$font_family}}",$font_family),sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
   font-family:  hubl_var("{{$font_family}}",$font_family),sans-serif;
}

::-ms-input-placeholder {  
   color: #fff;  
   font-family:  hubl_var("{{$font_family}}",$font_family),sans-serif;
}
form{
    margin-top: 30px;
}
}
.hs-form-checkbox-display span{
    padding-left: 5px;
    color: white;
}

/*    .contact-page .widget-type-form .form-title{
        margin-top: 45px;
    	margin-bottom: 24px;
		font-size: 31px;
		color: #ffc400;
		text-align: left;
		font-weight: 600;
    }    
    
    .contact .widget-type-form form input{
        border: none;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 38px;
    }
    .contact .widget-type-form form div:first-of-type div:first-of-type div:first-of-type input:first-of-type{
        margin-top: 10.4px;
    }
    
    .contact .widget-type-form form ::-webkit-input-placeholder {
   color: #fff;
    font-family: 'Houschka Pro',sans-serif;
}

.contact .widget-type-form form ::-moz-placeholder {  Firefox 18- 
   color: #fff;  
   font-family: 'Houschka Pro',sans-serif;
}

.contact .widget-type-form form ::-moz-placeholder {   Firefox 19+ 
   color: #fff;  
   font-family: 'Houschka Pro',sans-serif;
}

.contact .widget-type-form form ::-ms-input-placeholder {  
   color: #fff;  
   font-family: 'Houschka Pro',sans-serif;
}
    .contact .hs-form-field {
        margin-bottom: initial;
    }

    
    .contact-page .widget-type-form form input{
        border: solid 1px #d6d5d5;
        margin-top:8px;
        color: initial;
    }
    .contact-page .hs-form-field{
        margin-bottom: 15px;
    }
    
    .contact .widget-type-form form textarea{
        border: none;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 38px;
    }
    
    
    .contact-page .widget-type-form form textarea{
        border: solid 1px #d6d5d5;
        margin-top:8px;
        color: initial;
    }
    .content-landing .widget-type-form .form-title{
        display: none;
    }
    .content-landing .landing-social-sharing{
        margin-top: 15px;
        margin-bottom: 30px;
    }
.side-bar-blog ::-webkit-input-placeholder {
   color: #626262;
    font-family: 'Houschka Pro',sans-serif;
}

.side-bar-blog :-moz-placeholder {  Firefox 18- 
   color: #626262;  
   font-family: 'Houschka Pro',sans-serif;
}

.side-bar-blog ::-moz-placeholder {   Firefox 19+ 
   color: #626262;  
   font-family: 'Houschka Pro',sans-serif;
}

.side-bar-blog :-ms-input-placeholder {  
   color: #626262;  
   font-family: 'Houschka Pro',sans-serif;
}
.side-bar-blog .widget-type-form form input{
    border-bottom: solid 1px #ffc400;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #626262;  
}
.side-bar-blog .widget-type-form form input[type="submit"]{
    background-color: #ffc400;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
    padding: 4.5px 20px;
    border: solid 2px #ffc400;
}
.side-bar-blog .widget-type-form form input[type="submit"]:hover{
    background-color: white;
    color: #ffc400;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
    padding: 4.5px 20px;
    border:solid 2px #ffc400;  
}
.side-bar-blog .widget-type-form form .hs_submit input{
    color: #fff; 
    margin-top: 20px;
}
.side-bar-blog .widget-type-form form .hs_submit input:hover{
    color: #ffc400; 
}


.side-bar-blog .widget-type-form .form-title {
    font-size: 24px;
    font-weight: normal;
}
*/










a, a:visited,a:focus,
a:hover, a:active,input:focus,input:active,input:hover,input:visited,input,button:focus,button:active,button:hover,button:visited,button{
	outline: none;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.gray-hover:hover  a{
    color: #75787b !important;
}
.padding-zero{
	padding:0px;
}
.button{
	display: block;
	padding:18px 13px;
	border-radius: 5px;
	font-size: 20px;
	border:solid 2px #fff;
	color:#fff;
	padding:10px;
	text-decoration: none !important;
	text-align: center;
}
.buttonsec{
	background-color:#ffc400;
	border-color:#ffc400;
	color:#fff;
}
.button:hover{
	background-color:#ffc400;
	color:#fff;
    border:#ffc400 solid 2px!important;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.buttonsec:hover{
	display: block;
	padding:18px 13px;
	border-radius: 5px;
	font-size: 20px;
	border:solid 2px #fff;
	color:#fff;
	padding:10px;
	text-decoration: none;
	text-align: center;
	background-color: transparent;
}
h1{
	font-size: 58px;
	color:#ffc400;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}
h2{
	font-size: 36px;
	color:#ffc400;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
}
h3{
    font-size: 30px;
	color:#ffc400;
}
h4{
	font-size: 26px;
	color:#ffc400;
}
.secondary-header{
    text-align:center;
}
.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 77px;
    /*margin-top: 125px;*/
    cursor:pointer;
    position: absolute;
    left: 50%;
    /* px swiruje na submarket/market pages, bo jest tam absolutna maska */
    top: auto;
    bottom: 50px;
    margin-left: -10px;
}
.individual-project-page .mouse_scroll {
    top: auto;
}
.about-us .mouse_scroll {
    /* fix dla strony about-us z mniejszym headerem */
    top: 400px
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
    margin: 0 0 5px 4px;
    width: 13px;
    height: 13px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    animation: mouse-scroll 1.5s infinite;
    -webkit-animation: mouse-scroll 1.5s infinite;
    -moz-animation: mouse-scroll 1.5s infinite;
}

.unu
{
  animation-delay:.1s;
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi
{
  animation-delay: .2s;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.trei
{
  animation-delay: .3s;
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}



.mouse
{
height: 34px!important;
    width: 20px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  
  -webkit-animation: mouse-wheel 1.5s linear infinite;
  -moz-animation: mouse-wheel 1.5s linear infinite;
  animation: mouse-wheel 1.5s linear infinite;
}




@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

.footer{
    background-color: #393939;
    height: 67px;
    color:#fff;
    position: relative;
}
    .footer .copy{
        font-size: 15px;
        color:#fff;
        font-weight: 300;
        line-height: 67px;
        white-space: nowrap;

    }
    .footer .links{
        text-align: right;
        white-space: nowrap;
    }
        .footer .links a{
            font-size: 15px;
            color:#fff;
            font-weight: 300;
            line-height: 67px;
            padding:0px 5px;
            -webkit-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
        }
        .footer .links a:hover{
            color:#ffc400;
            text-decoration:none;
            -webkit-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
        }
    .footer .scroll-top{
        height: 67px;
        width: 67px;
        background-color: #ffc400;
        position: absolute;
        right: 0px;
        bottom: 0px;
        cursor:pointer;
        text-align: center;
    }
        .footer .scroll-top i{
            font-size: 44px;
            color:#fff;
            line-height: 67px;
            -webkit-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
        }
    .footer .scroll-top:hover i{
        line-height: 45px;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }