.homepage{
	.homeslider{
		.mask{
			background: rgba(0,0,0,0.36);
			height:100%;
		}
		.slick-dots {
		    bottom: 30px;
		    width: 100%;
		    list-style: none;
		    text-align: center;
		    li{
		    	button:before{
		    		font-size:26px;
		    	}
		    	&.slick-active{
					button:before{
						color:#fff;
					}

		    	}
		    }
		}
		.slick-arrow{
			position:absolute;
			top:50%;
			transform:translateY(-50%);	
			z-index:1;
			&.slick-prev{
				left:48px;
				&:before{
					content:"\f104";
					font-family:"FontAwesome";
					color:#fff;
					font-size:60px;
				}
			}
			&.slick-next{
				right:48px;
				&:before{
					content:"\f105";
					font-family:"FontAwesome";
					color:#fff;
					font-size:60px;
				}	
			}
		}
		.slide{
			position: relative;
		    height: 100vh;
		    .content{
		    	position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%,-50%);
			    min-width: 80%;
			    h1{
			    	color: #fff;
				    letter-spacing: 5px;
			    }
			    h2, h3, h4, h5, h6{
					color: #fff;
			    }
			    p{
			    	color: #fff;
			    	font-size:20px;
			    	font-weight:300;
			    	text-align:center;
			    }
		    }
		}
	}
	.services{
 	   overflow: hidden;
 	   margin-top:70px;
 	   .box-services{			
			text-align: center;
			.widget-type-rich_text a{
 			   font-weight: 400 !important;
			}
			.ico{
				width:120px;
				height: 120px;
				border-radius: 50%;
				text-align: center;
				margin:auto;
				border:solid 2px #ffc400;
				i{
					color:#ffc400;
					font-size: 60px;
					line-height: 120px;
	 			}
	 		}
			h3{
				font-size: 20px;
				font-weight: normal;
				margin:20px 0px;
				color:#ffc400;
			}	 		
		.desc{
			font-size: 16px;
			font-weight: 300;
			color:#626262;
			margin-bottom: 85px;
			padding: 0px 15px;
		}
	
 		}
 	}
	.portfolio{
		background-color: #ffc400;
		width: 100%;
		padding-bottom: 8px;
		.row-fluid .span3 {
	        width: 25%;
	        margin: 0px;
    	}
		h2{
				font-size: 34px;
				margin: 45px 0px 45px 0px;
		        color: #fff;
	 	}
	 	.button{
			margin: 38px 0px 38px 0px;
			width: 100%;
			padding-bottom: 8px;
			&:hover{
				background-color: #fff;
				color:#ffc400;
		 	}
 		}
	 	.boxes{
			width: 100%;
			padding-bottom: 8px;
			a.box{
	 			width: 100%;
				height: 254px;
				display: block;
				background-size: cover;
	    		background-position: center;
	    		position: relative;
	    		overflow: hidden;
			.shadow{
				background-color: #313131;
				opacity: 0;
				height: 100%;
				width: 100%;
				-webkit-transition: all 0.3s linear;
				-o-transition: all 0.3s linear;
				transition: all 0.3s linear;
		 		}
			h3{
				position: absolute;
				top: 300px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				margin: auto;
				height: 40px;
				text-align: center;
				color:#fff;
				font-size: 29px;
				font-weight: 700;
				-webkit-transition: all 0.3s linear;
	    		-o-transition: all 0.3s linear;
	    		transition: all 0.3s linear;
	 			} 			 		
 		   		&:hover{ 
	    			.shadow{
					opacity: 0.63;
					-webkit-transition: all 0.3s linear;
		    		-o-transition: all 0.3s linear;
		    		transition: all 0.3s linear;
 					}
 					h3{
						top:0px;
						-webkit-transition: all 0.3s linear;
			    		-o-transition: all 0.3s linear;
			    		transition: all 0.3s linear;
			 		}
	 			}

	 		}
 		}
 	}
	.product-cta{
	    width: 100%;
	    height: 100%;
	    background-size: cover;
	    overflow: hidden;
	    .product {
			.container.position{
	        	position:relative;
			}
			h2{
				text-align: left;
				font-weight: normal;
				font-size: 36px;
				margin: 78px 0px 60px 0px;
		        color: #fff;
			}
			.text{
				font-weight: 300;
				max-width: 550px;
				font-size: 16px;
				color:#fff;
				margin-bottom: 65px;
			}
			a.button{
				display: inline-block;
				margin-bottom: 85px;
			}
	    }
	}
	.features{
		margin-bottom:100px;
		h2{
			color:#ffc400;
			font-weight: 600;
			margin-top: 50px;
		}
		.feature{
			margin-top: 70px; 
			h3{
				font-size: 24px;
				color:#626262;
				font-weight: 600;
				margin-bottom: 10px;
		        margin-top:0px;
			}
			div.content{
				font-size: 16px;
				color:#626262;
			}
		}
	} 
	.testimonials {
	    background-size: cover;
	    background-position: center;
	    min-height: 475px;
	    padding-bottom: 40px;
	    text-align: center;
	    background-color:#ffc400;
		.slick-arrow{
			position:absolute;
			top:50%;
			transform:translateY(-50%);	
			z-index:1;
			&.slick-prev{
				left:48px;
				&:before{
					content:"\f104";
					font-family:"FontAwesome";
					color:#fff;
					font-size:60px;
				}
			}
			&.slick-next{
				right:48px;
				&:before{
					content:"\f105";
					font-family:"FontAwesome";
					color:#fff;
					font-size:60px;
				}	
			}
		}
		.slick-dots {
		    bottom: 50px;
		    width: 100%;
		    list-style: none;
		    text-align: center;
		    li{
		    	button:before{
		    		font-size:26px;
		    	}
		    	&.slick-active{
					button:before{
						color:#fff;
					}

		    	}
		    }
		}
	    h2{
			font-size: 36px;
			margin-top: 100px;
	        color: #fff;
		}
		.testimonial-text{
	        color: #fff;
	        padding: 60px 50px 30px 50px;
	        font-size: 16px;
	        width:90%;
	        max-width: 901px;
	        margin: auto;
		}
		.person{
			color:#fff;
			font-size: 16px;
			font-size: 20px;
			font-weight: 600;
			span{
				font-weight: 300;
			}
		}
		.person-container{
			.person-left {
			    text-align: right;
			    padding-right: 10px;
			}
			.person-right {
				text-align: left;
			    padding-left: 10px;
			    height: 100px;
				p{   
				    padding-top: 15px;
				}
			}
			img {
				display: inline-block;
			    border-radius: 50%;
			}
			div {
			    width: 48%;
				float: left;
			}
		} 
	}
	.contact{
		background-size: cover;
	    background-position: center;
	    padding-bottom: 75px;
		.widget-type-form .form-title{
		    text-transform:uppercase;
		}
		h2{
			font-size: 33px;
			font-weight: bold;
			text-align: left;
			margin:65px 0px 25px 0px;
			color: #ffc400;
		}
		.text{
			padding:0px 10px 25px 0px;
			border-bottom: solid 1px #fff;
			color:#fff;
	        font-weight: 300;
	        font-size: 22px;
			&.second{
				font-size: 22px;
				&.last{
					border:none;
				}
			}
		}
	}	
	.skills{
	 	background-color: #ffc400;
		h2{
	 		margin:30px 0px 50px 0px;
	        color: #fff;
	 	}
		canvas{
			display:block;
			margin:auto;
		}
		h3{
			color:#fff;
			font-weight: normal;
			font-size: 25px;
			margin: 35px 0px 55px 0px;
			text-align: center;
		}
		.circle{
	        display:none;
	    }
	}
}
