.homepage{
	.homeslider{
		.mask{
			background: rgba(0,0,0,0.36);
			height:100%;
		}
		.slick-arrow{
			position:absolute;
			top:50%;
			transform:translateY(-50%);	
			z-index:1;
			&.slick-prev{
				left:48px;
				&:before{
					content:"\f104";
					font-family:"FontAwesome";
					color:#fff;
					font-size:60px;
				}
			}
			&.slick-next{
				right:48px;
				&:before{
					content:"\f105";
					font-family:"FontAwesome";
					color:#fff;
					font-size:60px;
				}	
			}
		}
		.slide{
			position: relative;
		    top: -20px;
		    height: 100vh;
		    .content{
		    	position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%,-50%);
			    min-width: 80%;
			    h1{
			    	color: #fff;
				    letter-spacing: 5px;
			    }
			    h2, h3, h4, h5, h6{
					color: #fff;
			    }
			    p{
			    	color: #fff;
			    	font-size:20px;
			    	font-weight:300;
			    	text-align:center;
			    }
		    }
		}
	}
	.services{
 	   overflow: hidden;
 	   .box-services{
			margin-top: 100px;
			text-align: center;
			.widget-type-rich_text a{
 			   font-weight: 400 !important;
			}
			.ico{
				width:120px;
				height: 120px;
				border-radius: 50%;
				text-align: center;
				margin:auto;
				border:solid 2px #ffc400;
				i{
					color:#ffc400;
					font-size: 60px;
					line-height: 120px;
	 			}
	 		}
			h3{
				font-size: 20px;
				font-weight: normal;
				margin:20px 0px;
				color:#ffc400;
			}	 		
		.desc{
			font-size: 16px;
			font-weight: 300;
			color:#626262;
			margin-bottom: 85px;
			padding: 0px 15px;
		}
	
 		}
 	}
}
