$dev_version : true;

/** Metoda dodająca zmienne 'habowe' **/

@mixin hubl($var_name,$var_value) {
	/*=={% set #{$var_name} = #{$var_value} %}==*/		
}

/** Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version **/

@function hubl_var($var,$dev){
	@if $dev_version == false {
  		@return unquote('{{'+$var+'}}');
	} @else {
		@return $dev;
	}
}

@include hubl("font-family","10px");

$font_family : "Arial";
$font_size : 10px;
$main_color:  '#aaa';

